<div class="cinema container">
  <div class="cinema__logo">
    <a class="cinema__img">
      <img
        class="img-fluid"
        src="http://movie0706.cybersoft.edu.vn/hinhanh/bhd-star-cineplex.png"
        alt="img"
      />
    </a>
    <a class="cinema__img">
      <img
        class="img-fluid"
        src="http://movie0706.cybersoft.edu.vn/hinhanh/cgv.png"
        alt="img"
      />
    </a>
    <a class="cinema__img">
      <img
        class="img-fluid"
        src="http://movie0706.cybersoft.edu.vn/hinhanh/bhd-star-cineplex.png"
        alt="img"
      />
    </a>
  </div>
  <div class="cinema__list">
    <a class="cinema__wrap">
      <p class="cinema__name"><span>BHD Star</span> - Cineplex - 3/2</p>
      <p class="cinema__address">L5-Vincom 3/2, 3C Đường 3/2, Q.10</p>
      <p class="cinema__detail">[chi tiết]</p>
    </a>
    <a class="cinema__wrap">
      <p class="cinema__name"><span>BHD Star</span> - Cineplex - Bitexco</p>
      <p class="cinema__address">L3-Bitexco Icon 68, 2 Hải Triều, Q.1</p>
      <p class="cinema__detail">[chi tiết]</p>
    </a>
    <a class="cinema__wrap">
      <p class="cinema__name"><span>BHD Star</span> - Cineplex - Bitexco</p>
      <p class="cinema__address">L3-Bitexco Icon 68, 2 Hải Triều, Q.1</p>
      <p class="cinema__detail">[chi tiết]</p>
    </a>
    <a class="cinema__wrap">
      <p class="cinema__name"><span>BHD Star</span> - Cineplex - Bitexco</p>
      <p class="cinema__address">
        L4-Satra Phạm Hùng, C6/27 Phạm Hùng, Bình Chánh
      </p>
      <p class="cinema__detail">[chi tiết]</p>
    </a>
    <a class="cinema__wrap">
      <p class="cinema__name"><span>BHD Star</span> - Cineplex - Bitexco</p>
      <p class="cinema__address">L3-Bitexco Icon 68, 2 Hải Triều, Q.1</p>
      <p class="cinema__detail">[chi tiết]</p>
    </a>
  </div>
  <div class="cinema__movie">
    <!-- <p class="no-movie">Không có suất chiếu</p> -->
    <div class="cinema__movie-wrap">
      <a class="cinema__movie-detail">
        <div class="movie-img">
          <img
            class="img-fluid"
            src="http://movie0706.cybersoft.edu.vn/hinhanh/gia-dinh-croods-ky-nguyen-moi-the-croods-new-age_gp01.png"
            alt="zz"
          />
        </div>
        <div class="movie-detail">
          <span class="movie-name">
            Gia Đình Croods: Kỷ Nguyên Mới - The Croods: New Age
          </span>
        </div>
      </a>
      <div class="cinema__showtime">
        <span class="movie__type">2D Digital</span>
        <div class="cinema__time-detail">
          <button class="btn">20:00</button>
          <button class="btn">20:00</button>
          <button class="btn">20:00</button>
          <button class="btn">20:00</button>
          <button class="btn">20:00</button>
          <button class="btn">20:00</button>
        </div>
      </div>
    </div>
  </div>
</div>
