<div class="container trailer-modal" #trailerModal>
  <!--Modal: Name-->
  <div class="modal fade" id="modal-trailer" tabindex="-1">
    <div class="modal-dialog modal-lg" role="document">
      <!--Content-->
      <div class="modal-content">
        <!-- Close btn -->
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <img src="../../../../assets/images/close.png" />
        </button>
        <!--Body-->
        <div class="modal-body mb-0 p-0">
          <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
            <iframe
              class="embed-responsive-item"
              src="https://www.youtube.com/embed/vlDzYIIOYmM"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
  <!--Modal: Name-->
</div>
