<div id="ss" class="carousel slide carousel" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#ss" data-slide-to="0" class="active"></li>
    <li data-target="#ss" data-slide-to="1"></li>
    <li data-target="#ss" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active position--carousel">
      <a class="position--carousel" href="#">
        <img
          class="img--big"
          src="https://s3img.vcdn.vn/123phim/2021/04/mortal-kombat-16177818818286.png"
          alt="Second slide"
        />
        <img
          class="img--play centerr"
          src="../../../../assets/images/play-video.png"
          alt=""
        />
      </a>
    </div>

    <div class="carousel-item">
      <a class="position--carousel" href="#">
        <img
          class="img--big"
          src="https://s3img.vcdn.vn/123phim/2021/04/mortal-kombat-16177818818286.png"
          alt="Second slide"
        />
        <img
          class="img--play centerr"
          src="../../../../assets/images/play-video.png"
          alt=""
        />
      </a>
    </div>

    <div class="carousel-item">
      <a class="position--carousel" href="#">
        <img
          class="img--big"
          src="https://s3img.vcdn.vn/123phim/2021/04/mortal-kombat-16177818818286.png"
          alt="Second slide"
        />
        <img
          class="img--play center"
          src="../../../../assets/images/play-video.png"
          alt=""
        />
      </a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#ss" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#ss" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
