<div class="movie-info">
  <div class="movie-info__wrap container">
    <div class="movie-info__content">
      <div class="movie-info__img">
        <img
          src="https://s3img.vcdn.vn/mobile/123phim/2021/04/mortal-kombat-16177123268718_215x318.png"
          alt=""
        />
        <app-modal-trailer>
          <a
            class="trailer-btn"
            data-toggle="modal"
            data-target="#modal-trailer"
            ><i class="fa fa-play"></i
          ></a>
        </app-modal-trailer>
      </div>
      <div class="movie-info__detail">
        <p class="movie-info-date">15.01.2011</p>
        <span class="movie-info__ageType">P</span>
        <span class="movie--info__name"
          >Mortal Kombat - Cuộc Chiến Sinh Tử</span
        >
        <p class="movie--info__mainDetail">100 phút - 7.1 IMDb - 2D/Digital</p>
        <button class="btn btn-danger my-3">Mua vé</button>
      </div>
    </div>
    <div class="movie-info__review">
      <span class="circle"></span>
    </div>
  </div>
</div>
